<script>
import Menu from '../components/Menu';


export default {
    name: 'AdminPage',
    components: {
        Menu
    },
};
</script>
<template>
    <div class="page">
        <div class="sidebar">
            <Menu></Menu>
        </div>
        <div class="content">
            <router-view></router-view>
        </div>
    </div>
</template>
<style scoped>
    .page{
        height:100vh;
        display: grid;
        grid-template-columns: 150px auto;
        grid-template-areas:
                "s c";
    }
    .sidebar{
        grid-area: s;
        background-color: #CCC;
    }
    .content{
        padding:30px;
        grid-area: c;
    }
</style>
