<script>
  import axios from 'axios';
export default {
  data() {
    return {
      stages: [],
      paint: null,
      tile: null,
      id: null,
      wallHeight: 2.50,
      wallLength: 60,
      tailSquare: 15,
      saveDisabled: false
    };
  },
  async created() {
    let storedCalc;
    if (this.$route.params.id) {
      let resp = await axios.get('http://kvadrim.tih.su/api/calc/' + this.$route.params.id);
      storedCalc = resp.data.calculation.data;
      this.id = resp.data.calculation.id;
      this.wallHeight = storedCalc.wallHeight;
      this.wallLength = storedCalc.wallLength;
    }
    const result = await axios.get('http://kvadrim.tih.su/api/calc/data');
    this.stages = result.data.stages.map(stage => {
      stage.finishMaterials = stage.materials.filter(material => material.type === 'finish');
      stage.draftMaterials = stage.materials.filter(material => material.type === 'draft');
      stage.finishMaterial = storedCalc && storedCalc.stages[stage.stage.id] ? storedCalc.stages[stage.stage.id].finishMaterial : null;
      return stage;
    });
  },
  methods: {
    getSquare(id) {
      if (id == 1) {
        return this.tailSquare;
      } else {
        return this.square;
      }
    },
    async handleSave() {
      this.saveDisabled = true;
      try {
        const result = await axios.post('http://kvadrim.tih.su/api/calc/save',{
          id: this.id,
          data: {
            wallHeight: this.wallHeight,
            wallLength: this.wallLength,
            stages: this.stages.reduce((stages, stage) => {
                stages[stage.stage.id] = {finishMaterial: stage.finishMaterial}
                return stages;
              }, {})
          }
        });
        this.$router.push({
          name: 'calc_saved',
          params: { id: result.data.id }
        });
        location.reload();
      } catch(e) {
        this.saveDisabled = false;
      }
    }
  },
  computed: {
    square() {
      let result = this.wallHeight * this.wallLength - this.tailSquare;
      return result > 0 ? result : 0;
    },
    totals() {
      let grandTotalWork = 0;
      let grandTotalMaterials = 0;
      let stageTotals = this.stages.map(stage => {
        let square = this.getSquare(stage.stage.id);
        let totalWork = stage.works.reduce(
          (total, work) => total+(square/work.consumption_rate) * work.price_client, 0
        );
        let totalDraftMaterials = stage.draftMaterials.reduce(
          (total, material) => total+(square/material.consumption_rate) * material.price_client, 0
        );
        let finishMaterial = stage.finishMaterials.find(material => material.id === stage.finishMaterial);
        let totalFinishMaterials = 0;
        if(finishMaterial) {
          totalFinishMaterials = (square / finishMaterial.consumption_rate) * finishMaterial.price_client;
        }
        let totalMaterials = totalDraftMaterials+totalFinishMaterials;
        grandTotalMaterials += totalMaterials;
        grandTotalWork += totalWork;
        return { id: stage.stage.id, label: stage.stage.total_name, work: totalWork, materials: totalMaterials, total: totalWork+totalMaterials}
      });
      return {
        total: grandTotalWork + grandTotalMaterials,
        work: grandTotalWork,
        materials: grandTotalMaterials,
        stages: stageTotals
      }
    },
    totalWorks() {
      return null;
    },
    totalMaterials() {
      return null;
    },
  },
  name: 'CalculatorPage',
};
</script>

<template>
  <div class="calc-page">
    <el-form label-width="250px">
        <el-form-item label="Метраж">
            <el-input-number
                    :precision="2"
                    :min="0"
                    class="sizes-input"
                    placeholder="Please input"
                    :controls="false"
                    v-model="wallLength"
                    clearable
            >
            </el-input-number>
        </el-form-item>
        <el-form-item label="Высота потолка">
            <el-input-number
                    :precision="2"
                    :min="0"
                    class="sizes-input"
                    :controls="false"
                    placeholder="Please input"
                    v-model="wallHeight"
                    clearable
            >
            </el-input-number>
        </el-form-item>
        <el-form-item v-for="stage in this.stages" v-show="stage.finishMaterials.length" :key="stage.stage.id" :label="stage.stage.name">
          <el-radio-group v-model="stage.finishMaterial">
            <el-radio-button v-for="finishMaterial in stage.finishMaterials" :label="finishMaterial.id" :key="finishMaterial.id">{{finishMaterial.name}}</el-radio-button>
          </el-radio-group>
        </el-form-item>
      <table class="totals">
        <tr v-for="stageTotal in totals.stages" :key="'total'+stageTotal.id">
          <td>{{stageTotal.label}}</td><td class="price">{{stageTotal.total.toFixed(2)}}</td>
        </tr>
        <tr>
          <td>Итого</td><td class="price">{{totals.total.toFixed(2)}}</td>
        </tr>
        <tr>
          <td>&nbsp;</td><td>&nbsp;</td>
        </tr>
        <tr>
          <td>Стоимость работ</td><td class="price">{{totals.work.toFixed(2)}}</td>
        </tr>
        <tr>
          <td>Стоимость материалов</td><td class="price">{{totals.materials.toFixed(2)}}</td>
        </tr>
      </table>
      <el-form-item>
        <el-button type="success" class="btn-save" @click.prevent="handleSave" :disabled="saveDisabled">Сохранить</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<style scoped>
    .calc-page {
      margin: 20px;
    }
    .price {
      text-align: right;
    }
    .totals {
      margin-left: 250px;
    }
    .totals td {
      padding:5px;
    }
    .sizes-input {
        width: 200px;
    }
    .form-group .input-label {
        display:inline-block;
        width: 130px;
    }
</style>
