<template>
  <MaterialForm :initMaterial="material"></MaterialForm>
</template>

<script>
  import MaterialForm from '../components/MaterialForm';
  import axios from 'axios';
  export default {
    name: 'MaterialPage',
    components: {
      MaterialForm
    },
    data() {
      return {
        material: {}
      }
    },
    async created() {
      const id = this.$route.params.id;
      if (id) {
        const result = await axios.get('http://kvadrim.tih.su/api/material/' + id);
        this.material = result.data.material;
      }
    }
  };
</script>

<style scoped>

</style>
