<template>
  <div class="stages-page">
    <el-table
      :data="tableData"
      style="width: 100%">
      <el-table-column
        prop="name"
        label="Название">
      </el-table-column>
      <el-table-column
        label="">
        <template slot-scope="scope">
          <el-button
            size="mini"
            @click="handleEdit(scope.row.id)">Ред.</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>
<script>
  import axios from 'axios';
  export default {
    name: 'Stages',
    data() {
      return {
        tableData: []
      }
    },
    async created() {
      const result = await axios.get('http://kvadrim.tih.su/api/stages');
      this.tableData = result.data.stages;
    },
    methods: {
      handleEdit(id) {
        this.$router.push({name:'stage_edit', params:{id: id}});
      }
    }
  };
</script>

<style scoped>

</style>
