<template>
  <div class="works-page">
    <router-view></router-view>
    <el-table
      :data="tableData"
      style="width: 100%">
      <el-table-column
        prop="name"
        label="Название">
      </el-table-column>
      <el-table-column
        prop="price_internal"
        label="Цена закупочная">
      </el-table-column>
      <el-table-column
        prop="price_client"
        label="Цена для клиента">
      </el-table-column>
      <el-table-column
        prop="consumption_rate"
        label="Норма расхода">
      </el-table-column>
      <el-table-column
        label="">
        <template slot="header" slot-scope="slot">
          <el-button size="mini" type="success" @click="handleCreate()">Добавить</el-button>
        </template>
        <template slot-scope="scope">
          <el-button
            size="mini"
            @click="handleEdit(scope.row.id)">Ред.</el-button>
          <el-button
            size="mini"
            type="danger"
            @click="handleDelete(scope.row)">Удалить</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>
<script>
  import axios from 'axios';
  export default {
    name: 'Works',
    data() {
      return {
        tableData: []
      }
    },
    async created() {
      await this.load();
    },
    methods: {
      async load() {
        const resp = await axios.get('http://kvadrim.tih.su/api/works');
        this.tableData = resp.data.works;
      },
      handleEdit(id) {
        this.$router.push({name:'work_edit', params:{id: id}});
      },
      async handleDelete(row) {
        if(confirm('Удалить "' + row.name + '"?')) {
          await axios.post('http://kvadrim.tih.su/api/work/' + row.id + '/delete');
          await this.load();
        }
      },
      handleCreate() {
        this.$router.push({name: 'work_create'})
      }
    }
  };
</script>

<style scoped>

</style>
