<template>
  <el-form ref="form" :model="material" label-width="150px">
    <el-form-item label="Название">
      <el-input v-model="material.name"></el-input>
    </el-form-item>
    <el-form-item label="Тип">
      <el-select v-model="material.type" filterable placeholder="Select">
        <el-option
          key="draft"
          label="Черновой"
          value="draft">
        </el-option>
        <el-option
          key="finish"
          label="Чистовой"
          value="finish">
        </el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="Цена закупки">
      <el-input-number :controls="false" :precision="2" v-model="material.price_internal"></el-input-number>
    </el-form-item>
    <el-form-item label="Цена для клиента">
      <el-input-number :controls="false" :precision="2" v-model="material.price_client"></el-input-number>
    </el-form-item>
    <el-form-item label="Норма расхода">
      <el-input-number :controls="false" :precision="2" v-model="material.consumption_rate"></el-input-number>
    </el-form-item>
    <el-button type="success" class="btn-save" @click.prevent="handleSave">Сохранить</el-button>
  </el-form>
</template>

<script>
  import axios from "axios";
  export default {
    name: 'MaterialForm',
    data() {
      return {
        material: this.initMaterial
      }
    },
    props: [
      'initMaterial'
    ],
    watch: {
      initMaterial: function(newVal, oldVal) { // watch it
        this.material = newVal;
      }
    },
    methods: {
      async handleSave() {
        try {
          const result = await axios.post('http://kvadrim.tih.su/api/material/save', { ...this.material });
          if (result.data.ok) {
            this.$router.push({ name: 'materials' });
          } else {
            alert('Произошла ошибка');
          }
        } catch (e) {
          alert('Произошла ошибка');
        }
      }
    }
  };
</script>

<style scoped>
  .btn-save {
    margin-left: 150px;
  }
</style>
