<template>
  <div class="stage-create">
    <el-form ref="form" :model="stage" label-width="150px">
      <el-form-item label="Название">
        <el-input v-model="stage.name"></el-input>
      </el-form-item>
      <el-form-item label="Текст тотала">
        <el-input v-model="stage.total_name"></el-input>
      </el-form-item>
      <el-form-item label="Работы">
        <el-select :value="null" filterable placeholder="Select" @change="handleWorkSelected">
          <el-option
            v-for="work in works"
            :key="work.id"
            :label="work.name"
            :value="work.id">
          </el-option>
        </el-select>
        <el-table
          :data="stage.works"
          style="width: 100%">
          <el-table-column
            prop="name"
            label="Название">
          </el-table-column>
          <el-table-column
            prop="price_internal"
            label="Цена закупочная">
          </el-table-column>
          <el-table-column
            prop="price_client"
            label="Цена для клиента">
          </el-table-column>
          <el-table-column
            prop="consumption_rate"
            label="Норма расхода">
          </el-table-column>
          <el-table-column
            label="">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="danger"
                @click="handleDeleteWork(scope.row.id)">Удалить</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-form-item>
      <el-form-item label="Материалы">
        <el-select :value="null" filterable placeholder="Select" @change="handleMaterialSelected">
          <el-option
            v-for="material in materials"
            :key="material.id"
            :label="material.name"
            :value="material.id">
          </el-option>
        </el-select>
        <el-table
          :data="stage.materials"
          style="width: 100%">
          <el-table-column
            prop="name"
            label="Название">
          </el-table-column>
          <el-table-column
            prop="type"
            label="Тип">
            <template slot-scope="scope">
              {{scope.row.type === 'draft' ? 'Черновой' : 'Чистовой'}}
            </template>
          </el-table-column>
          <el-table-column
            prop="price_internal"
            label="Цена закупочная">
          </el-table-column>
          <el-table-column
            prop="price_client"
            label="Цена для клиента">
          </el-table-column>
          <el-table-column
            prop="consumption_rate"
            label="Норма расхода">
          </el-table-column>
          <el-table-column
            label="">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="danger"
                @click="handleDeleteMaterial(scope.row.id)">Удалить</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-form-item>
      <el-form-item>
        <el-button type="success" class="btn-save" @click.prevent="handleSave">Сохранить</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
  import axios from 'axios';
  export default {
    name: 'MaterialCreate',
    data() {
      return {
        works: [],
        materials: [],
        stage: {
          works: [],
          materials: []
        }
      }
    },
    async created() {
      const materialsResp = await axios.get('http://kvadrim.tih.su/api/materials');
      this.materials = materialsResp.data.materials;
      const worksResp = await axios.get('http://kvadrim.tih.su/api/works');
      this.works = worksResp.data.works;
      const stageResp = await axios.get('http://kvadrim.tih.su/api/stage/' + this.$route.params.id);
      let stage = stageResp.data.stage;
      stage.works = stageResp.data.works.map(stageWork => this.works.find(work => stageWork.work_id === work.id) );
      stage.materials = stageResp.data.materials.map(stageMaterial => this.materials.find(material => stageMaterial.material_id === material.id) );
      this.stage = stage;
    },
    methods: {
      async handleSave() {
        const stage = {...this.stage};
        stage.works = stage.works.map(work => work.id);
        stage.materials = stage.materials.map(material => material.id);
        await axios.post('http://kvadrim.tih.su/api/stage/save', stage);
      },
      handleDeleteMaterial(id) {
        this.stage.materials = this.stage.materials.filter(
          item => item.id !==id
        );
      },
      handleDeleteWork(id) {
        this.stage.works = this.stage.works.filter(
          item => item.id !== id
        );
      },
      handleMaterialSelected(value) {
        const existed = this.stage.materials.find(item => item.id === value);
        if (!existed) {
          this.stage.materials.push(this.materials.find(item => item.id === value));
        } else {
          alert('"'+existed.name + '"' + ' уже есть в списке материалов');
        }
      },
      handleWorkSelected(value) {
        const existed = this.stage.works.find(item => item.id === value);
        if (!existed) {
          this.stage.works.push(this.works.find(item => item.id === value));
        } else {
          alert('"'+existed.name + '"' + ' уже есть в списке работ');
        }
      }
    }
  };
</script>

<style scoped>
  .selectors {
    display:grid;
    grid-template-columns: auto auto;
    grid-template-areas:
      "w s";
  }
  .selectors .works {
    grid-area: w;
  }
  .selectors .materials {
    grid-area: s;
  }
</style>
