<template>
  <el-form ref="form" :model="work" label-width="150px">
    <el-form-item label="Название">
      <el-input v-model="work.name"></el-input>
    </el-form-item>
    <el-form-item label="Цена закупки">
      <el-input-number :controls="false" :precision="2" v-model="work.price_internal"></el-input-number>
    </el-form-item>
    <el-form-item label="Цена для клиента">
      <el-input-number :controls="false" :precision="2" v-model="work.price_client"></el-input-number>
    </el-form-item>
    <el-form-item label="Норма расхода">
      <el-input-number :controls="false" :precision="2" v-model="work.consumption_rate"></el-input-number>
    </el-form-item>
    <el-button type="success" class="btn-save" @click.prevent="handleSave">Сохранить</el-button>
  </el-form>
</template>

<script>
  import axios from 'axios';
  export default {
    name: 'WorkCreate',
    data() {
      return {
        work: this.initWork
      }
    },
    props: [
      'initWork'
    ],
    watch: {
      initWork: function (newVal, oldVal) {
        this.work = newVal;
      }
    },
    methods: {
      async handleSave() {
        try {
          const result = await axios.post('http://kvadrim.tih.su/api/work/save', { ...this.work });
          if (result.data.ok) {
            this.$router.push({ name: 'works' });
          } else {
            alert('Произошла ошибка');
          }
        } catch (e) {
          alert('Произошла ошибка');
        }
      }
    }
  };
</script>

<style scoped>
  .btn-save {
    margin-left: 150px;
  }
</style>
